<% include header.ejs %>
  <h1>Your name: <%= user.username %></h1>
    <p>Welcome to your home ~</p>
    <hr>
    <% include usernav_left.ejs %>
    <div class="rightcontent pull-left" style="width:80%">
        <h3 style="margin-bottom:35px;">我发布的电影:</h3>
        <div class="mymvlist">
        <table class="table table-bordered managemvlist" style="margin-top:30px;width:100%;">
            <thead>
            <tr>
                <th>电影名称</th>
                <th>主要演员</th>
                <th>上映年代</th>
                <th>类型</th>
                <th>是否显示</th>
                <th>国家</th>
                <th>语种</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% if(mymvlist.length > 0 ){  %>
            <% mymvlist.forEach(function(res){ %>
                <tr>
                    
                    <td>
                    <span><%= res.title %></span>
                    </td>
                    <td>
                    <span><%= res.doctor %> </span>
                    </td>
                    <td>
                    <span><%= res.year %> </span>
                    </td>
                    <td><%= res.type || '暂无' %></td>
                    <td>
                        <% if(res.isshow) { %>
                            <button class="btn btn-success">是</button>
                        <% } else { %>
                            <button class="btn btn-warning">否</button>
                    <% } %>
                    </td>
                    <td><%= res.country %></td>
                    <td><%= res.language %></td>
                    <td><%= myDateFormat(res.meta.createAt) %></td>
                    <td>
                        <button type="button" class="btn btn-default edit" data-toggle="modal" 
                        data-id="<%= res._id %>" 
                        data-title="<%= res.title %>"
                        data-doctor="<%= res.doctor %>"
                        data-country="<%= res.country %>"
                        data-type = "<%= res.type %>"
                        data-isshow = "<%= res.isshow %>"
                        data-language="<%= res.language %>"
                        data-poster="<%= res.poster %>"
                        data-flash="<%= res.flash %>"
                        data-year="<%= res.year %>"
                        data-summary="<%= res.summary %>"
                        id="modalBtn" >编辑</button>

                        <button data-id="<%= res._id %>"  type="button" class="btn btn-danger del">删除</button>
                        
                    </td>
                </tr>
                <% }) %> 
            <% }else{  %>
                <tr style="height:300px;text-align:center;"><td colspan="9" class="nodata">没有查询到相关数据</td></tr>
            <% } %>
            </tbody>
        </table>

  <!-- 代码片段 分页控件 -->
    <div class="span12">
        <div style="float:right;overflow:hidden">
            <ul id="page1" pageCount="<%=page.pageCount%>" pageNum="<%=page.num %>" pageSize="<%=page.size%>" pageLimit="<%=page.limit%>" numberOfPages="<%=page.numberOf%>">
            </ul>
        </div>
    </div>

    </div>
        
    </div>

    <!--编辑信息弹框-->
    <div>
	    <div class="modal fade" id="updatemovieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
                        电影信息
					</h4>
				</div>
                <div id="msg" class="alert" role="alert" style="width:95%;margin:10px auto;display:none;"></div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">

                        <input class="form-control" type="hidden" name="movie[_id]" value="" id="inputId">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputTitle">电影名称</label>
							<div class="col-sm-10">
								<input class="form-control" name="movie[title]" id="inputTitle" type="text" value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputDoctor">电影导演</label>
							<div class="col-sm-10">
								<input class="form-control" name="movie[doctor]" id="inputDoctor" type="text" value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputCountry">国家</label>
							<div class="col-sm-10">
								<input class="form-control" name="movie[country]" id="inputCountry" type="text" value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputLanguage">语种</label>
							<div class="col-sm-10">
								<input class="form-control" name="movie[language]" id="inputLanguage" type="text" value="">
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-2 control-label" for="inputLanguage">电影类型</label>
							<div class="col-sm-10">
								<select class="form-control typeselect" style="width:180px" name="type" id="type" autocomplete="off">
                                    <option selected value="">请选择影片类型</option>
                                    <option value="悬疑">悬疑</option>
                                    <option value="科幻">科幻</option>
                                    <option value="动画">动画</option>
                                    <option value="传记">传记</option>
                                    <option value="爱情">爱情</option>
                                </select>
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-2 control-label" for="inputLanguage">前台显示</label>
                            <div class="col-sm-10" style="line-height:32px;">
                                    <span style="margin-right:10px;"><input type="radio" checked value=1 name="movie[isshow]" style="margin-right:5px">显示</span>
                                    <input type="radio" value=0 name="movie[isshow]" style="margin-right:5px">不显示
                            </div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputPoster">海报地址</label>
							<div class="col-sm-10">
								<input class="form-control" name="movie[poster]" id="inputPoster" type="text" value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputFlash">片源地址</label>
							<div class="col-sm-10">
								<input class="form-control" name="movie[flash]" id="inputFlash" type="text" value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputYear">上映年代</label>
							<div class="col-sm-10">
								<input class="form-control" name="movie[year]" id="inputYear" type="text" value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inputSummary">电影简介</label>
							<div class="col-sm-10">
								<textarea class="form-control" name="movie[summary]" id="inputSummary" cols="30" rows="10"></textarea>
							</div>
						</div>
					</form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="submit" class="btn btn-primary" id="updateBtn">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- 信息删除确认 -->
        <div>
            <div class="modal fade" id="delcfmModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                删除提示信息
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p>您确认要删除吗？</p>
                            <input class="form-control" type="hidden" value="" id="delId">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <a  class="btn btn-success confirmdel" id="confirmdel" data-dismiss="modal">确定</a>
                        </div>
                        
                    </div>
                </div>
            </div>
   
        </div>

<% include footer.ejs %>

<script>
$(function(){

    var $m_btn = $('.edit');
        var $del_btn = $('.del')
        var $modal = $('#updatemovieModal');
        var $modal_inquiry = $("#delcfmModel")
        $m_btn.on('click', function(){
            var item_id = $(this).attr('data-id');
            var item_title=$(this).attr('data-title');
            var item_doctor=$(this).attr('data-doctor');
            var item_country=$(this).attr('data-country');
            var item_language=$(this).attr('data-language');
            var item_type = $(this).attr('data-type') || '';
            var item_isshow = $(this).attr('data-isshow');
            var item_poster=$(this).attr('data-poster');
            var item_flash=$(this).attr('data-flash');
            var item_year=$(this).attr('data-year');
            var item_summary=$(this).attr('data-summary');

            $("#inputId").val(item_id);
            $("#inputTitle").val(item_title);
            $("#inputDoctor").val(item_doctor);
            $("#inputCountry").val(item_country);
            $("#inputPoster").val(item_poster);
            $("#inputLanguage").val(item_language);
            
            if(item_type==''){
                $(".typeselect option:first").attr("selected",true)
            } else{
                $(".typeselect option[value="+item_type+"]").attr("selected",true)
            }
            item_isshow=='1'?$("input[type='radio']:first").attr("checked",true):$("input[type='radio']:last").attr("checked",true);
            $("#inputFlash").val(item_flash);
            $("#inputYear").val(item_year);
            $("#inputSummary").val(item_summary);
            $modal.modal({backdrop: 'static'});
        });

         $modal.on('show.bs.modal', function(){
          var $this = $(this);
          var $modal_dialog = $this.find('.modal-dialog');
          // 关键代码，如没将modal设置为 block，则$modala_dialog.height() 为零
          $this.css('display', 'block');
          $modal_dialog.css({'margin-top': Math.max(0, ($(window).height() - $modal_dialog.height()) / 2) });
        });

        $modal.on('hide.bs.modal', function () {
            console.log("close");
            $(".typeselect").val('');
            $("#inputId").val(''); 
        });

        $del_btn.on('click', function(){

            var item_id = $(this).attr('data-id');
            $("#delId").val(item_id);
            $modal_inquiry.modal({backdrop: 'static'});

        });

        $modal_inquiry.on('show.bs.modal', function(){
          var $this = $(this);
          var $modal_dialog = $this.find('.modal-dialog');
          $this.css('display', 'block');
          $modal_dialog.css({'margin-top': Math.max(0, ($(window).height() - $modal_dialog.height()) / 2) });
        });

        $("#confirmdel").on("click",function(){
            var deleteId  = $("#delId").val();
            $.ajax({
			  type: "POST",
			  url: '/movie/delete',
			  data:{
                  _id:deleteId
              },
			  success: function (data, textStatus){
		
			  	  if(data.success){
			  	  	    $('#msg').show().html('操作成功!');
						$('#msg').addClass('alert alert-success');
						setTimeout(function(){
							$(location).attr('href','/user/mymovielist');
						},2000);
			  	  	
			  	  } else {
			  	  	$('#msg').html(data.message);
			  	  	$('#msg').addClass('alert alert-error');
			  	  }
			  }
			});

        })

        $("#updateBtn").on("click",function(){
           var data = {};
           var mdata = {
                _id:$("#inputId").val(),
                title:$("#inputTitle").val(),
                doctor:$("#inputDoctor").val(),
                country:$("#inputCountry").val(),
                language:$("#inputLanguage").val(),
                type:$(".typeselect").val(),
                isshow:parseInt($(".modal input[type='radio']:checked").val()),
                poster:$("#inputPoster").val(),
                flash:$("#inputFlash").val(),
                year:parseInt($("#inputYear").val()),
                summary:$("#inputSummary").val()
            }
			
            data['movie'] = mdata;
        

			$.ajax({
			  type: "POST",
			  url: '/movie/add/new',
			  data:data,
			  success: function (data, textStatus){
			  	  if(data.success){
			  	  	    $('#msg').show().html('操作成功!');
						$('#msg').addClass('alert alert-success');
						setTimeout(function(){
							$(location).attr('href','/movie/list/manage');
						},2000);
			  	  	
			  	  } else {
			  	  	$('#msg').html(data.message);
			  	  	$('#msg').addClass('alert alert-error');
			  	  }
			  }
			});
        })

//获得浏览器参数
    $.extend({
            getUrlVars: function(){
                    var vars = [], hash;
                    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                    for(var i = 0; i < hashes.length; i++){
                        hash = hashes[i].split('=');
                        vars.push(hash[0]);
                        vars[hash[0]] = hash[1];
                    }
                    return vars;
            },
            getUrlVar: function(name){
                return $.getUrlVars()[name];
            }
        });

    //封装浏览器参数
    var composeUrlParams=function(){
        var param='';
        $.each($.getUrlVars(), function(i, item) {
            if(item!='p'){
                var val=$.getUrlVar(item);
                if(val) param += "&" + item+"="+val;
            }
        });
        return param;
    }
    //分页功能
    var page=$('#page1');
    var options = {
        bootstrapMajorVersion:3,
        currentPage:page.attr('pageNum'),
        totalPages:page.attr('pageCount'),
        numberOfPages:page.attr('numberOfPages'),
        pageUrl: function(type, page, current){
            return "/user/mymovielist?"+composeUrlParams()+"&p="+page;
        }
    }
   page.attr('pageCount')>1 && $('#page1').bootstrapPaginator(options);


})

</script>